[project]
	description = Social Button App is a Liferay portlet that allow users to create a bar with several social networks buttons
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Thiago Leão Moreira (tmoreira2020)
[access "refs/for/refs/*"]
	read = group user/Thiago Leão Moreira (tmoreira2020)
	push = group user/Thiago Leão Moreira (tmoreira2020)
	label-Code-Review = -2..+2 group user/Thiago Leão Moreira (tmoreira2020)
	label-Verified = -1..+1 group user/Thiago Leão Moreira (tmoreira2020)
	rebase = group user/Thiago Leão Moreira (tmoreira2020)
	removeReviewer = group user/Thiago Leão Moreira (tmoreira2020)
	submit = group user/Thiago Leão Moreira (tmoreira2020)
[access "refs/heads/*"]
	read = group user/Thiago Leão Moreira (tmoreira2020)
	create = group user/Thiago Leão Moreira (tmoreira2020)
	push = +force group user/Thiago Leão Moreira (tmoreira2020)
	pushMerge = group user/Thiago Leão Moreira (tmoreira2020)
[access "refs/tags/*"]
	push = +force group user/Thiago Leão Moreira (tmoreira2020)
	pushTag = group user/Thiago Leão Moreira (tmoreira2020)
	pushSignedTag = group user/Thiago Leão Moreira (tmoreira2020)
